Repository cloudflare/workerd, pull requests merged in 2024-08, with the labels that each got.

#2477 add initial zlib module with crc32
  src/node/internal/internal_zlib.ts
  src/node/internal/zlib.d.ts
  src/node/zlib.ts
  src/workerd/api/node/node.h
  src/workerd/api/node/tests/zlib-nodejs-test.js
  src/workerd/api/node/tests/zlib-nodejs-test.wd-test
  src/workerd/api/node/zlib-util.c++
  src/workerd/api/node/zlib-util.h
Labels: nodejs compat, api, frameworks

#2464 Adds pythonRelease annotation to compat flags.
  src/workerd/io/compatibility-date.capnp
  src/workerd/io/compatibility-date.h
Labels: python

#2478 reduce encoding serialization cost
  src/node/internal/buffer.d.ts
  src/node/internal/crypto_hash.ts
  src/node/internal/internal_buffer.ts
  src/node/internal/internal_stringdecoder.ts
  src/node/internal/internal_utils.ts
  src/node/internal/validators.ts
  src/workerd/api/node/buffer.c++
  src/workerd/api/node/buffer.h
  src/workerd/api/node/i18n.h
Labels: nodejs compat, api, frameworks

#2484 add file class to node:buffer
  package.json
  pnpm-lock.yaml
  src/node/buffer.ts
  src/node/internal/crypto_random.ts
  src/node/internal/web_crypto.d.ts
  src/workerd/api/blob.c++
  src/workerd/api/node/tests/buffer-nodejs-test.js
Labels: nodejs compat, api, frameworks

#2451 Load Pyodide runtime through HTTP
  samples/pyodide-fastapi/config.capnp
  samples/pyodide-langchain/config.capnp
  samples/pyodide-secret/config.capnp
  samples/pyodide/config.capnp
  samples/repl-server-python/config.capnp
  src/workerd/api/pyodide/pyodide.h
  src/workerd/io/compatibility-date.c++
  src/workerd/io/compatibility-date.h
  src/workerd/server/server.c++
  src/workerd/server/server.h
  src/workerd/server/tests/python/BUILD.bazel
  src/workerd/server/tests/python/env-param/env.wd-test
  src/workerd/server/tests/python/hello/hello.wd-test
  src/workerd/server/tests/python/import_tests.bzl
  src/workerd/server/tests/python/langchain/langchain.wd-test
  src/workerd/server/tests/python/langchain/worker.py
  src/workerd/server/tests/python/py_wd_test.bzl
  src/workerd/server/tests/python/random/random.wd-test
  src/workerd/server/tests/python/subdirectory/subdirectory.wd-test
  src/workerd/server/workerd-api.c++
  src/workerd/server/workerd.c++
  src/workerd/tests/test-fixture.c++
Labels: python

#2467 Clear WritableStreamSink queue on abort with compat flag
  src/workerd/api/streams/internal.c++
  src/workerd/api/streams/internal.h
  src/workerd/api/tests/abort-internal-streams-test.js
  src/workerd/api/tests/abort-internal-streams-test.wd-test
  src/workerd/io/compatibility-date-test.c++
  src/workerd/io/compatibility-date.capnp
Labels: api, streams
