Repository cloudflare/workerd, pull requests merged in 2024-07, with the labels that each got.

#2344 Consolidate dh code into workerd/api/crypto, impl DH keygen
  src/workerd/api/crypto/dh-primes.h
  src/workerd/api/crypto/dh.c++
  src/workerd/api/crypto/dh.h
  src/workerd/api/node/crypto.c++
  src/workerd/api/node/crypto.h
  src/workerd/api/node/tests/crypto_dh-test.js
Labels: nodejs compat, api, crypto, frameworks

#2354 add matchesGlob placeholder to node:path
  src/node/internal/internal_path.ts
  src/node/path.ts
Labels: nodejs compat, api, frameworks

#2355 More cleaning up and reorganization of crypto key handling code.(Part 2)
  src/workerd/api/crypto/ec.c++
  src/workerd/api/crypto/ec.h
  src/workerd/api/crypto/impl.h
  src/workerd/api/crypto/rsa.c++
  src/workerd/api/crypto/rsa.h
Labels: nodejs compat, api, crypto, frameworks

#2335 Implement node:crypto X509Certificate
  .github/secret_scanning.yml
  src/node/crypto.ts
  src/node/internal/crypto.d.ts
  src/node/internal/crypto_x509.ts
  src/workerd/api/crypto/crypto.c++
  src/workerd/api/crypto/crypto.h
  src/workerd/api/crypto/ec.c++
  src/workerd/api/crypto/impl.c++
  src/workerd/api/crypto/impl.h
  src/workerd/api/crypto/keys.c++
  src/workerd/api/crypto/keys.h
  src/workerd/api/crypto/rsa.c++
  src/workerd/api/crypto/x509.c++
  src/workerd/api/crypto/x509.h
  src/workerd/api/node/crypto.h
  src/workerd/api/node/tests/crypto_x509-test.js
  src/workerd/api/node/tests/crypto_x509-test.wd-test
  src/workerd/jsg/jsvalue.c++
  src/workerd/jsg/jsvalue.h
Labels: nodejs compat, api, crypto, frameworks

#2375 Improve illegal invocation error in the runtime
  WORKSPACE
  patches/v8/0018-Update-illegal-invocation-error-message-in-v8.patch
  src/workerd/jsg/jsg-test.c++
  src/workerd/jsg/resource-test.c++
  src/workerd/jsg/resource.h
Labels: v8, jsg

#2383 webgpu: remove device.SetUncapturedErrorCallback()
  src/workerd/api/gpu/gpu-adapter.c++
  src/workerd/api/gpu/gpu-device.c++
  src/workerd/api/gpu/gpu-device.h
Labels: spec-compliance, api, webgpu

#2381 Make deriveBits length argument optional per spec change
  src/workerd/api/crypto/crypto.c++
  src/workerd/api/crypto/crypto.h
  src/workerd/api/tests/crypto-extras-test.js
Labels: spec-compliance, api, crypto

#2404 Make WebSocketPair iterable
  src/workerd/api/tests/global-scope-test.js
  src/workerd/api/web-socket.c++
  src/workerd/api/web-socket.h
Labels: api

#2389 Implement rsa toPem, toDer, and fromJwk utilities
  src/workerd/api/crypto/impl.c++
  src/workerd/api/crypto/impl.h
  src/workerd/api/crypto/keys.h
  src/workerd/api/crypto/rsa.c++
  src/workerd/api/crypto/rsa.h
Labels: nodejs compat, api, crypto, frameworks, c++

#2406 Handle proxy object prototypes more correctly
  src/workerd/api/worker-rpc.c++
  src/workerd/io/worker.c++
  src/workerd/jsg/jsvalue-test.c++
  src/workerd/jsg/jsvalue.c++
  src/workerd/jsg/jsvalue.h
  src/workerd/jsg/ser.c++
Labels: api, jsg, jsrpc
