Repository cloudflare/workerd, pull requests merged in 2024-05, with the labels that each got.

#1553 Initial implementation of new jsg module registry
  src/workerd/jsg/BUILD.bazel
  src/workerd/jsg/jsg.h
  src/workerd/jsg/modules-new-test.c++
  src/workerd/jsg/modules-new.c++
  src/workerd/jsg/modules-new.h
  src/workerd/jsg/resource.h
  src/workerd/jsg/setup.h
Labels: jsg

#2064 Deprecate WritableStream::removeSink
  src/workerd/api/sockets.c++
  src/workerd/api/streams/common.h
  src/workerd/api/streams/internal.c++
  src/workerd/api/streams/internal.h
  src/workerd/api/streams/standard.c++
  src/workerd/api/streams/writable.c++
  src/workerd/api/streams/writable.h
Labels: api

#2061 Avoid unnecessary allocations in HTMLRewriter
  src/workerd/api/html-rewriter.c++
  src/workerd/api/streams/transform.c++
  src/workerd/api/streams/transform.h
Labels: api

#1970 Use disk cache to run wd tests
  WORKSPACE
  src/pyodide/internal/loadPackage.js
  src/workerd/server/tests/python/langchain/langchain.wd-test
  src/workerd/server/tests/python/langchain/worker.py
Labels: build, bazel

#2109 Fix content type determination for blob from fetch
  src/workerd/api/http.c++
  src/workerd/api/tests/blob2-test.js
  src/workerd/api/tests/blob2-test.wd-test
  src/workerd/io/compatibility-date.capnp
  src/workerd/util/mimetype-test.c++
  src/workerd/util/mimetype.c++
  src/workerd/util/mimetype.h
Labels: bug, spec-compliance, api

#2111 Improve user facing error message on invalid content-length
  src/workerd/api/http.c++
Labels: bug, spec-compliance, api

#2050 Convert DigestStream into JS-backed stream
  src/workerd/api/crypto.c++
  src/workerd/api/crypto.h
  src/workerd/api/tests/crypto-streams-test.js
Labels: api

#2131 Provide the raw specifier for the module fallback service
  src/workerd/io/worker.h
  src/workerd/jsg/modules.c++
  src/workerd/jsg/modules.h
  src/workerd/jsg/setup.h
  src/workerd/server/server.c++
Labels: jsg, local dev

#2139 Refactor DOMException
  src/workerd/io/worker-interface.capnp
  src/workerd/jsg/dom-exception-test.c++
  src/workerd/jsg/dom-exception.c++
  src/workerd/jsg/dom-exception.h
  src/workerd/jsg/jsg.h
  src/workerd/jsg/ser.c++
  src/workerd/jsg/setup.h
  src/workerd/jsg/util.c++
  src/workerd/jsg/util.h
Labels: v8, api, jsg

#2151 Bug Fix: Expose TransformStreamDefaultController as global
  src/workerd/api/global-scope.h
Labels: spec-compliance, api

#2144 V8 Updates: Migrate to v8::Object::Wrap/Unwrap
  src/workerd/jsg/ser.c++
  src/workerd/jsg/setup.c++
  src/workerd/jsg/wrappable.c++
  src/workerd/jsg/wrappable.h
Labels: v8, jsg

#2155 Bug Fix: Fixup WritableStream backpressure signaling, add warning
  src/workerd/api/streams/internal.c++
  src/workerd/api/streams/internal.h
  src/workerd/api/streams/standard.c++
  src/workerd/api/streams/standard.h
Labels: api, streams

#2156 V8 Updates: Replace deprecated SetAccessor with SetAccessorProperty
  src/workerd/api/http-test.js
  src/workerd/api/url.c++
  src/workerd/api/url.h
  src/workerd/jsg/resource.c++
  src/workerd/jsg/resource.h
  src/workerd/jsg/type-wrapper-test.c++
Labels: v8, jsg

#2147 Node.js Compat: Implement the nodejs_compat_v2 compat flag
  src/node/internal/process.ts
  src/node/internal/util.d.ts
  src/workerd/api/global-scope.c++
  src/workerd/api/global-scope.h
  src/workerd/api/node/node-compat-v2-test.js
  src/workerd/api/node/node-compat-v2-test.wd-test
  src/workerd/api/node/node.h
  src/workerd/api/node/util.c++
  src/workerd/api/node/util.h
  src/workerd/io/compatibility-date.capnp
  src/workerd/io/worker.c++
  src/workerd/jsg/jsg.c++
  src/workerd/jsg/jsg.h
  src/workerd/jsg/modules.c++
  src/workerd/jsg/modules.h
  src/workerd/jsg/setup.h
Labels: nodejs compat, api, frameworks

#2186 Rename fallback service "raw" param to "rawSpecifier"
  src/workerd/server/server.c++
Labels: frameworks

#2096 Generate python import tests in bazel
  .bazelrc
  .github/workflows/test.yml
  WORKSPACE
  build/pyodide_bucket.bzl
  src/pyodide/internal/topLevelEntropy/entropy_import_context.py
  src/workerd/server/tests/python/BUILD.bazel
  src/workerd/server/tests/python/import_tests.bzl
Labels: python

#2185 Account for external memory usage internal streams
  src/workerd/api/streams/internal.c++
  src/workerd/api/streams/internal.h
Labels: api, streams, memory

#2198 fix(node:events): add missing getMaxListeners and usingDomains exports
  src/node/internal/events.ts
  src/workerd/api/node/node-compat-v2-test.js
Labels: frameworks

#2199 fix(node:buffer): add missing atob and btoa exports
  src/node/buffer.ts
  src/workerd/api/node/node-compat-v2-test.js
Labels: frameworks
