Repository cloudflare/workerd, pull requests merged in 2024-04, with the labels that each got.

#1878 Python snapshots: Add workerd cli options to save memory snapshots to disk
  src/pyodide/internal/metadata.js
  src/pyodide/internal/snapshot.js
  src/pyodide/python-entrypoint-helper.js
  src/workerd/api/pyodide/pyodide.c++
  src/workerd/api/pyodide/pyodide.h
  src/workerd/server/server.c++
  src/workerd/server/server.h
  src/workerd/server/workerd-api.c++
  src/workerd/server/workerd-api.h
  src/workerd/server/workerd.c++
  src/workerd/tests/test-fixture.c++
  src/workerd/tests/test-fixture.h
Labels: python

#1952 Python: Make top level random() raise
  src/pyodide/BUILD.bazel
  src/pyodide/internal/builtin_wrappers.js
  src/pyodide/internal/python.js
  src/pyodide/internal/snapshot.js
  src/pyodide/internal/topLevelEntropy/__init__.py
  src/pyodide/internal/topLevelEntropy/entropy_import_context.py
  src/pyodide/internal/topLevelEntropy/entropy_patches.py
  src/pyodide/internal/topLevelEntropy/import_patch_manager.py
  src/pyodide/internal/topLevelEntropy/lib.js
  src/pyodide/internal/util.js
  src/pyodide/python-entrypoint-helper.js
  src/workerd/server/tests/python/BUILD.bazel
  src/workerd/server/tests/python/random/random.wd-test
  src/workerd/server/tests/python/random/worker.py
Labels: python

#2045 Have internal streams return empty Uint8Array on end of byob stream
  src/workerd/api/streams/internal.c++
  src/workerd/api/tests/streams-test.js
  src/workerd/api/tests/streams-test.wd-test
  src/workerd/io/compatibility-date.capnp
Labels: api

#2005 update v8 to 12.4
  WORKSPACE
  patches/dawn/0001-Add-iomanip.patch
  patches/dawn/0002-Add-missing-array-import.patch
  patches/v8/0001-Allow-manually-setting-ValueDeserializer-format-vers.patch
  patches/v8/0002-Allow-manually-setting-ValueSerializer-format-versio.patch
  patches/v8/0003-Add-ArrayBuffer-MaybeNew.patch
  patches/v8/0004-Allow-Windows-builds-under-Bazel.patch
  patches/v8/0005-Disable-bazel-whole-archive-build.patch
  patches/v8/0006-Make-v8-Locker-automatically-call-isolate-Enter.patch
  patches/v8/0007-Add-an-API-to-capture-and-restore-the-cage-base-poin.patch
  patches/v8/0008-Speed-up-V8-bazel-build-by-always-using-target-cfg.patch
  patches/v8/0009-Implement-Promise-Context-Tagging.patch
  patches/v8/0010-Enable-V8-shared-linkage.patch
  patches/v8/0011-Randomize-the-initial-ExecutionContextId-used-by-the.patch
  patches/v8/0012-Always-enable-continuation-preserved-data-in-the-bui.patch
  patches/v8/0013-Attach-continuation-context-to-Promise-thenable-task.patch
  patches/v8/0013-increase-visibility-of-virtual-method.patch
  patches/v8/0014-Add-ValueSerializer-SetTreatFunctionsAsHostObjects.patch
  patches/v8/0015-Set-torque-generator-path-to-external-v8.-This-allow.patch
  patches/v8/0016-Modify-where-to-look-for-fp16-dependency.-This-depen.patch
  patches/v8/0016-wasm-liftoff-arm64-Fix-LoadTaggedPointer.patch
  patches/v8/0017-Fixup-RunMicrotask-to-restore-async-context-on-termi.patch
Labels: v8

#1979 Implements the web platform standard reportError API
  src/workerd/api/basics.c++
  src/workerd/api/events.c++
  src/workerd/api/events.h
  src/workerd/api/global-scope.c++
  src/workerd/api/global-scope.h
  src/workerd/api/rtti.c++
  src/workerd/api/tests/reporterror-test.js
  src/workerd/api/tests/reporterror-test.wd-test
  src/workerd/api/web-socket.c++
  src/workerd/api/web-socket.h
  src/workerd/io/worker.c++
  src/workerd/jsg/jsg.c++
  src/workerd/jsg/jsg.h
  src/workerd/jsg/setup.h
  src/workerd/server/workerd-api.c++
  src/workerd/tools/api-encoder.c++
Labels: api
