Repository cloudflare/workerd, pull requests merged in 2025-01, with the labels that each got.

#3286 Update WPT (use workerd-tools archive)
  WORKSPACE
  build/deps/build_deps.jsonc
  build/deps/gen/build_deps.bzl
  build/deps/gen/dep_wpt.bzl
  src/workerd/api/wpt/urlpattern-test.js
Labels: dummylabel123

#3315 add node:net module
  build/wd_test.bzl
  src/node/internal/internal_errors.ts
  src/node/internal/sockets.d.ts
  src/node/internal/streams_duplex.d.ts
  src/node/internal/streams_util.d.ts
  src/node/internal/validators.ts
  src/node/internal/zlib.d.ts
  src/node/net.ts
  src/node/tsconfig.json
  src/workerd/api/node/BUILD.bazel
  src/workerd/api/node/tests/net-nodejs-tcp-server.js
  src/workerd/api/node/tests/net-nodejs-test.js
  src/workerd/api/node/tests/net-nodejs-test.wd-test
  tools/BUILD.bazel
Labels: nodejs compat, api, socket

#3268 Add compatibility date for Pyodide 0.27.1
  src/workerd/io/compatibility-date.capnp
  src/workerd/server/tests/python/BUILD.bazel
  src/workerd/server/tests/python/import_tests.bzl
  src/workerd/server/tests/python/py_wd_test.bzl
Labels: needs-internal-pr

#3414 Factor out loop body in py_wd_test to a separate function
  src/workerd/server/tests/python/py_wd_test.bzl
Labels: python
