Repository cloudflare/workerd, pull requests merged in 2025-07, with the labels that each got.

#4559 Correctly handle the event.currentTarget property
  src/workerd/api/basics.c++
  src/workerd/api/basics.h
  src/workerd/io/compatibility-date.capnp
  src/wpt/BUILD.bazel
  src/wpt/dom/events-test.ts
  types/generated-snapshot/experimental/index.d.ts
  types/generated-snapshot/experimental/index.ts
Labels: spec-compliance, web platform, wpt-conformance

#4603 Emscripten bootstrap: Propagate errors in ` _createPyodideModule` correctly
  src/pyodide/internal/pool/emscriptenSetup.ts
  src/pyodide/types/emscripten.d.ts
Labels: python

#4645 Add node:fs sample
  samples/nodejs-compat-fs/README.md
  samples/nodejs-compat-fs/config.capnp
  samples/nodejs-compat-fs/worker.js
Labels: nodejs compat
