Repository cloudflare/workerd, pull requests merged in 2025-02, with the labels that each got.

#3415 Create and use snapshot by default in all `wd_py_test`s
  build/wd_test.bzl
  src/cloudflare/internal/test/ai/BUILD.bazel
  src/cloudflare/internal/test/aig/BUILD.bazel
  src/cloudflare/internal/test/br/BUILD.bazel
  src/cloudflare/internal/test/d1/BUILD.bazel
  src/cloudflare/internal/test/vectorize/BUILD.bazel
  src/workerd/api/pyodide/pyodide.c++
  src/workerd/api/pyodide/pyodide.h
  src/workerd/server/server.h
  src/workerd/server/tests/python/BUILD.bazel
  src/workerd/server/tests/python/import_tests.bzl
  src/workerd/server/tests/python/py_wd_test.bzl
  src/workerd/server/workerd.c++
Labels: python

#3495 Python workers: Better error handling when the handler is not defined
  src/pyodide/python-entrypoint-helper.ts
  src/workerd/server/tests/python/BUILD.bazel
  src/workerd/server/tests/python/undefined-handler/main.py
  src/workerd/server/tests/python/undefined-handler/server.mjs
  src/workerd/server/tests/python/undefined-handler/undefined-handler.wd-test
  src/workerd/server/tests/python/undefined-handler/undefined_handler.py
Labels: python

#3504 Fix Python wd_tests on windows
  build/wd_test.bzl
Labels: python

#3592 Implement Response.error()
  src/workerd/api/cache.c++
  src/workerd/api/eventsource.c++
  src/workerd/api/global-scope.c++
  src/workerd/api/html-rewriter.c++
  src/workerd/api/http-standard-test.js
  src/workerd/api/http-standard-test.wd-test
  src/workerd/api/http.c++
  src/workerd/api/http.h
  types/generated-snapshot/2021-11-03/index.d.ts
  types/generated-snapshot/2021-11-03/index.ts
  types/generated-snapshot/2022-01-31/index.d.ts
  types/generated-snapshot/2022-01-31/index.ts
  types/generated-snapshot/2022-03-21/index.d.ts
  types/generated-snapshot/2022-03-21/index.ts
  types/generated-snapshot/2022-08-04/index.d.ts
  types/generated-snapshot/2022-08-04/index.ts
  types/generated-snapshot/2022-10-31/index.d.ts
  types/generated-snapshot/2022-10-31/index.ts
  types/generated-snapshot/2022-11-30/index.d.ts
  types/generated-snapshot/2022-11-30/index.ts
  types/generated-snapshot/2023-03-01/index.d.ts
  types/generated-snapshot/2023-03-01/index.ts
  types/generated-snapshot/2023-07-01/index.d.ts
  types/generated-snapshot/2023-07-01/index.ts
  types/generated-snapshot/experimental/index.d.ts
  types/generated-snapshot/experimental/index.ts
  types/generated-snapshot/oldest/index.d.ts
  types/generated-snapshot/oldest/index.ts
Labels: nodejs compat, spec-compliance, fetch, wintertc

#3311 Provide mechanism for autopopulating node.js process.env
  src/node/internal/process.ts
  src/node/internal/util.d.ts
  src/workerd/api/node/tests/process-nodejs-test.js
  src/workerd/api/node/tests/process-nodejs-test.wd-test
  src/workerd/api/node/util.c++
  src/workerd/api/node/util.h
  src/workerd/io/compatibility-date.capnp
  src/workerd/jsg/jsg.h
  src/workerd/jsg/setup.c++
  src/workerd/jsg/setup.h
  src/workerd/server/workerd-api.c++
Labels: nodejs compat, api

#3609 Python: Add vendor directory to the path automatically if present
  src/pyodide/internal/python.ts
  src/pyodide/types/Pyodide.d.ts
  src/workerd/server/tests/python/BUILD.bazel
  src/workerd/server/tests/python/vendor_dir/vendor/a.py
  src/workerd/server/tests/python/vendor_dir/vendor_dir.wd-test
  src/workerd/server/tests/python/vendor_dir/worker.py
Labels: python

#3608 Python: Make new C++ function `getPackageSnapshotImports`
  src/pyodide/internal/snapshot.ts
  src/pyodide/types/artifacts.d.ts
  src/pyodide/types/runtime-generated/metadata.d.ts
  src/workerd/api/pyodide/pyodide.c++
  src/workerd/api/pyodide/pyodide.h
Labels: python

#3603 Implement node:crypto sign and verify APIs
  src/node/crypto.ts
  src/node/internal/crypto.d.ts
  src/node/internal/crypto_keys.ts
  src/node/internal/crypto_sign.ts
  src/node/internal/internal_errors.ts
  src/node/internal/streams_writable.d.ts
  src/workerd/api/node/BUILD.bazel
  src/workerd/api/node/crypto-keys.c++
  src/workerd/api/node/crypto.c++
  src/workerd/api/node/crypto.h
  src/workerd/api/node/tests/crypto_sign-test.js
  src/workerd/api/node/tests/crypto_sign-test.wd-test
Labels: changelog
